node_modules

# Output
.data
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/static/feed.xml
/static/sitemap.xml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
