@import 'tailwindcss';

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 736px;
  --breakpoint-lg: 980px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1680px;
  --font-sans: 'Source Sans', sans-serif;
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Source Sans';
    src: url('$lib/assets/fonts/SourceSans3-Normal.woff2') format('woff2 supports variations'),
        url('$lib/assets/fonts/SourceSans3-Normal.woff2') format('woff2-variations');
    unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+2000-206F, U+20A0-20CF;
  }

  @font-face {
    font-display: swap;
    font-family: 'Source Sans';
    font-style: italic;
    src: url('$lib/assets/fonts/SourceSans3-Italic.woff2') format('woff2 supports variations'),
        url('$lib/assets/fonts/SourceSans3-Italic.woff2') format('woff2-variations');
    unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+2000-206F, U+20A0-20CF;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tighter;
  }

  h1 {
    @apply text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg lg:text-xl;
  }

  h6 {
    @apply text-base lg:text-lg;
  }
}

@layer components {
  p a {
    @apply font-normal underline;
  }

  .content .major {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }

  .content .page-header {
    @apply tracking-tighter text-2xl lg:text-3xl;
  }

  .content blockquote {
    @apply border-l-[3px] px-4 grid gap-6;
  }

  .orient-left div:last-child {
    @apply md:order-1;
  }

  .orient-right div:first-child {
    @apply md:order-1;
  }

  .boxed {
    @apply lg:min-h-[75vh] xl:min-h-[85vh];
  }

  .boxed > div:first-child {
    @apply lg:my-[15%] 2xl:my-[20%];
  }

  .boxed.orient-left div:first-child {
    @apply md:rounded-r-lg;
  }

  .boxed.orient-center div:first-child {
    @apply md:mx-auto md:rounded-lg;
  }

  .boxed.orient-right div:first-child {
    @apply md:ml-auto md:rounded-l-lg;
  }
}
