:root {
  --color-black: #000000;
  --color-blue: #0033ff;
  --color-ghost: #aaaaaa;
  --color-green: #33ff00;
  --color-grey: #666666;
  --color-purple: #cc00ff;
  --color-red: #ff0033;
  --color-yellow: #ffff00;
  --color-white: #ffffff;
  --spacing: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--color-black) url('$lib/assets/space.jpg');
  color: var(--color-white);
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard',
    'ChalkboardSE-Regular', 'Marker Felt', 'Purisa', 'URW Chancery L', cursive,
    sans-serif;
  font-size: var(--spacing);
  margin: 0;
  padding: var(--spacing);
}

a,
a:active,
a:visited {
  color: var(--color-yellow);
}

a:focus,
a:hover {
  color: var(--color-purple);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.paragraph.align-center {
  text-align: center;
}

.paragraph.align-right {
  text-align: right;
}

.paragraph blockquote {
  border-left: 2px solid var(--color-white);
  margin: 0;
  padding-left: calc(var(--spacing) * 2);
}

.paragraph li {
  margin: var(--spacing) 0;
}

.paragraph code {
  color: var(--color-ghost);
}

.graphic {
  display: flex;
  justify-content: start;
}

.graphic.align-center {
  justify-content: center;
}

.graphic.align-right {
  justify-content: end;
}

.graphic.style-corners img {
  border-radius: var(--spacing);
}

.graphic.style-round img {
  border-radius: 100%;
}

.graphic-and-text {
  align-items: center;
  display: flex;
  gap: calc(var(--spacing) * 0.5);
  justify-content: start;
}

.graphic-and-text.align-center {
  justify-content: center;
}

.graphic-and-text.align-right {
  justify-content: end;
}

.graphic-and-text.position-right {
  flex-flow: row-reverse;
}

.graphic-and-text.position-list {
  margin: var(--spacing);
}

.graphic-and-text.position-list::before {
  content: '\25cf';
}

.graphic-and-text .graphic {
  flex-shrink: 0;
}
